@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Inicio</h1>
        <p class="lead">Tu salud, nuestra prioridad.Bienestar para toda la familia.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Contactanos &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Asesoramiento Farmacéutico</h2>
            <p>
                Ofrecemos consultas personalizadas con nuestros farmacéuticos para resolver tus dudas sobre medicamentos y cuidados de salud.
            </p>
            <p><a class="btn btn-outline-dark" href="https://wa.link/tfjp27">Consulta con un Farmacéutico &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id=" librariesTitle">Entrega a Domicilio de Medicamentos:</h2>
            <p>Recibe tus medicamentos directamente en tu hogar de manera rápida y segura.</p>
            <p><a class="btn btn-outline-dark" href="https://wa.link/tfjp27">Solicita tu Entrega a Domicilio &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Venta de Productos Naturales</h2>
            <p>Disponemos de una amplia gama de productos naturales y suplementos para tu bienestar.</p>
            <p><a class="btn btn-outline-dark" href="https://wa.link/tfjp27">Compra Ahora &raquo;</a></p>
        </section>
    </div>
</main>